<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATEMATIKA</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;">MATEMATIKA</h1>
    <nav>
      <div class="logo">
      </div> 
      <ul>
        <li><a href="/contoh">CONTOH</a></li>
        <li><a href="/latihan">LATIHAN</a></li>
      </ul>
    </nav>
    </body>
    </html>
    <body>

        <center>
            <h1 style="font-family: 'Times New Roman', Times, serif ; font-size: xx-large;" >LOGIKA MATEMATIKA</h1>
            <img src="\static\img\logika.png" height="360px">
        </center>
        <p align ="justify", style="font-size:x-large">A. Definisi </p>
        <p align ="justify", style="font-size:larger">   
            Logika matematika adalah cabang logika dan matematika yang mengandung kajian logika matematis dan aplikasi kajian ini pada bidang-bidang lain di luar matematika. Logika matematika berhubungan erat dengan ilmu komputer dan logika filosofis. Tema utama dalam logika matematika antara lain adalah kekuatan ekspresif dari logika formal dan kekuatan deduktif dari sistem pembuktian formal. Logika matematika sering dibagi ke dalam cabang-cabang dari teori himpunan, teori model, teori rekursi, teori pembuktian, serta matematika konstruktif. Bidang-bidang ini memiliki hasil dasar logika yang serupa. </p>
        <p align ="justify", style="font-size:x-large">B. Hukum Logika </p>
        <p align ="justify", style="font-size:larger">1. Hukum komutatif </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ q ≡ q ∧ p
        <p align ="justify", style="font-size:larger">   ● p ∨ q ≡ q ∨ p</p>
        <p align ="justify", style="font-size:larger">2. Hukum asosiatif </p>
        <p align ="justify", style="font-size:larger">   ● (p ∧ q) ∧ r ≡ p ∧ (q ∧ r)
        <p align ="justify", style="font-size:larger">   ● (p ∨ q) ∨ r ≡ p ∨ (q ∨ r) </p>
        <p align ="justify", style="font-size:larger">3. Hukum distributif </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ (q ∨ r) ≡ (p ∧ q) ∨ (p ∧ r)
        <p align ="justify", style="font-size:larger">   ● p ∨ (q ∧ r) ≡ (p ∨ q) ∧ (p ∨ r)</p>
        <p align ="justify", style="font-size:larger">4. Hukum identitas </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ B ≡ p
        <p align ="justify", style="font-size:larger">   ● p ∨ S ≡ p </p>
        <p align ="justify", style="font-size:larger">5. Hukum ikatan </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ S ≡ S
        <p align ="justify", style="font-size:larger">   ● p ∨ B ≡ B </p>
        <p align ="justify", style="font-size:larger">6. Hukum negasi </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ ~p ≡ S
        <p align ="justify", style="font-size:larger">   ● p ∨ ~p ≡ B</p>
        <p align ="justify", style="font-size:larger">7. Hukum negasi ganda </p>
        <p align ="justify", style="font-size:larger">   ● ~(~p) ≡ p </p>
        <p align ="justify", style="font-size:larger">8. Hukum idempotent </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ p ≡ p
        <p align ="justify", style="font-size:larger">   ● p ∨ p ≡ p</p>
        <p align ="justify", style="font-size:larger">9. Hukum De Morgan</p>
        <p align ="justify", style="font-size:larger">   ● ~(p ∧ q) ≡ ~p ∨ ~q
        <p align ="justify", style="font-size:larger">   ● ~(p ∨ q) ≡ ~p ∧ ~q</p>
        <p align ="justify", style="font-size:larger">10. Hukum penyerapan </p>
        <p align ="justify", style="font-size:larger">   ● p ∧ (p ∨ q) ≡ p
        <p align ="justify", style="font-size:larger">   ● p ∨ (p ∧ q) ≡ p</p>
        <p align ="justify", style="font-size:larger">11. Hukum B dan S </p>
        <p align ="justify", style="font-size:larger">   ● ~B ≡ S
        <p align ="justify", style="font-size:larger">   ● ~S ≡ B </p>
        <p align ="justify", style="font-size:larger">12. p → q ≡ ~p ∨ q </p>
        <p align ="justify", style="font-size:larger">13. p ↔ q ≡ (~p ∨ q) ∧ (p ∨ ~q) </p>
        <p align ="justify", style="font-size:x-large">C. Invers, Konvers dan Kontraposisi</p>
        <p align ="justify", style="font-size:larger"> ⫸ Invers dari p → q adalah ~p → ~q </p>
        <p align ="justify", style="font-size:larger">  ⫸ Konvers dari p → q adalah q → p</p>
        <p align ="justify", style="font-size:larger">  ⫸ Kontraposisi dari p → q adalah ~q → ~p </p>
        <p align ="justify", style="font-size:x-large">D. Penarikan Kesimpulan</p>
        <p align ="justify", style="font-size:larger"> 1). Modus ponens </p>
        <p align ="justify", style="font-size:larger"> premis 1: p → q</p>
        <p align ="justify", style="font-size:larger">  premis 2: p </p>
        <p align ="justify", style="font-size:larger"> kesimpulan: q </p>
        <p align ="justify", style="font-size:larger"> 2). Modus tollens </p>
        <p align ="justify", style="font-size:larger"> premis 1: p → q</p>
        <p align ="justify", style="font-size:larger"> premis 2: ~q</p>
        <p align ="justify", style="font-size:larger"> kesimpulan: ~p</p>
        <p align ="justify", style="font-size:larger"> 3). Silogisme </p>
        <p align ="justify", style="font-size:larger"> premis 1: p → q</p>
        <p align ="justify", style="font-size:larger"> premis 2: q → r</p>
        <p align ="justify", style="font-size:larger"> kesimpulan:  p → r</p>
        <p align ="justify", style="font-size:x-large">D. Konjungsi (p ∧ q)</p>
        <p align ="justify", style="font-size:larger"> Konjungsi merupakan pernyataan majemuk dengan kata penghubung dan (simbol: ∧). Selain kata dan, kata penghubung yang bisa digunakan meliputi tetapi, ketika, seandainya, seperti, bahwa, walaupun, supaya.
        Nilai kebenaran dari sebuah konjungsi akan bernilai benar jika semua pernyataannya bernilai benar, selain itu nilai kebenaran konjungsi akan salah.  </p>
        <p align ="justify", style="font-size:x-large">E. Disjungsi (p ∨ q)</p>
        <p align ="justify", style="font-size:larger"> Berikutnya adalah pernyataan majemuk dengan kata penghubung atau yang disebut disjungsi. Simbol disjungsi dalam logika matematika adalah ∨. Selain kata atau, kata penghubung disjungsi yang biasa digunakan meliputi alias, kalau, apakah.
            Nilai kebenaran dari disjungsi akan bernilai salah jika p dan q keduanya salah, selain itu nilainya benar. </p>
        <p align ="justify", style="font-size:x-large">F. Implikasi (p → q)</p>
        <p align ="justify", style="font-size:larger"> Berikutnya adalah pernyataan majemuk dengan kata penghubung jika … maka …, yang disebut implikasi. Simbol dari implikasi berupa tanda panah (simbol: →). Selain jika … maka …, kata penghubung yang juga bisa digunakan pada implikasi adalah … mengakibatkan …, … jika…, … bilamana …, … hanya jika …, … syarat perlu bagi …, … syarat cukup bagi …, hanya dipisahkan tanda koma (…, …).
            Nilai kebenaran dari implikasi hanya akan bernilai salah jika pernyataan pertama bernilai benar dan pernyataan kedua bernilai salah ( jika benar maka salah), selain itu bernilai benar. </p>
        <p align ="justify", style="font-size:x-large">G.  Biimplikasi (p ↔ q)</p>
        <p align ="justify", style="font-size:larger">Biimplikasi merupakan pernyataan majemuk dengan kata penghubungn  … jika dan hanya jika … (simbol: ↔). Kata penghubung lain yang juga digunakan pada biimplikasi adalah bila dan hanya bila, syarat perlu dan cukup.
            Nilai kebenaran dari suatu biimplikasi hanya akan bernilai benar apabila kedua pernyataan bernilai sama. Atau, suatu biimplikasi hanya akan bernilai benar jika kedua pernyataan bernilai benar atau keduanya bernilai salah. </p>

        <p align ="justify", style="font-size:x-large">untuk lebih memahami silahkan buka materi di bawah ini :</p>
        <iframe src="https://drive.google.com/file/d/1brNymOh2OBJpnZvbmP44jkt-CdSpEzn3/preview" width="640" height="480" allow="autoplay"></iframe>
        <div class="container">
            <div class="content-video">
                <!-- Tempatkan Video Disini -->
                <iframe width="1000" height="530" src="https://www.youtube.com/embed/qTkyMzhHBak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="1000" height="530" src="https://www.youtube.com/embed/oOFYzxsbx4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="1000" height="530" src="https://www.youtube.com/embed/0oc3gL0V-N4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

    </body>

    <style>
        body {
          background-image: linear-gradient(to right, #51fac7, #3df88b);
          margin-left: 50px;
          margin-right: 50px;
          padding: 0;
      }
      
      nav {
          top: 0;
          left: 0;
          position: fixed;
          height: 70px;
          width: 100%;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.5);
          border-bottom: 1px solid white;
      }
      
      .logo {
          float: left;
          height: 10px;
          font-size: 36px;
          font-weight: bold;
          text-transform: uppercase;
          color: white;
          padding: 20px 20px;
          justify-content: space-around;
      }
      
      nav ul {
          margin: 0;
          padding: 0;
          float: right;
          list-style: none;
          display: flex;
      }
      
      nav ul li a {
          font-size: 18px;
          font-weight: bold;
          color: white;
          line-height: 70px;
          text-decoration: none;
          padding: 15px 22px;
      }
      nav ul li a:hover {
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.8);
}
</style>